/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
    background-color: #264653;
    background: linear-gradient(to right, #264653, #2a9d8f);
    height: 10%;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}


h1 {
    font-size: 50px;
    color: rgba(220, 245, 220, 0.856);
    padding-bottom: 8px;
    margin-top: 0;
    margin-left: 10px;
    font-family: fantasy;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2 0 100px
   
}

.nav {
    display: flex;
    flex: 1 2 300px;
    justify-content: flex-end;
    align-items: center;
}


.nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-top: 5px;
    gap: 2px;
}

.nav a  {
    text-decoration: none;
    text-align: center;
    color: white;
    gap: 16px;
    border: 1px solid #48aaff;
    border-radius: 10px;
    display: block;
    background-color: none;
    padding: 1em 2em;
    transition: all 0.25s;
}

.nav a:hover, a:focus {
    background-color: #269aff;
    border-color: #269aff;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    transform: translateY(-0.25em);
    cursor: pointer;
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
    }
    h1 {
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-top: 1px solid #2a9d8f;
        border-bottom: 1px solid #2a9d8f;
    }
    li {
        display: inline-block;
        flex: auto;
    }
    
}





.template {
    height: 300px;
    background: linear-gradient(to right, #264653, #2a9d8f);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 4px;
}

.left {
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.brand {
    font-size: 40px;
    font-weight: 900;
}

.pitch, .pitch2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-size: 30px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1fc781;
}

.right {
    position: relative;
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.image {
    opacity: 1;
    width: 700px;
    height: 250px;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.welcome {
    border-radius: 10px;
    background-color: #264653;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.right:hover .image{
    opacity: 0.8;
    border-color: #264653;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    transform: translateY(-0.25em);
    cursor: pointer;
}

.right:hover .middle {
    opacity: 1;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    translate: -20px -4rem -100px;
    cursor: pointer;
}

@media (min-width: 576px) {
    .template {
        box-sizing: border-box;
        flex: 100%;
        max-width: 100%;
    }
  }





button {
    border: 1px solid #48aaff;
    border-radius: 10px;
    background-color: #48aaff;
    color: white;
    font-size: large;
    font-weight: 900;
    padding: 16px 16px;
    margin: 35px;
    transition: all 0.25s;
}

button:hover, button:focus {
    background-color: #269aff;
    border-color: #269aff;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    transform: translateY(-0.25em);
    cursor: pointer;
}






.content {
    margin-left: 200px;
    margin-right: 500px;
    padding: 50px;
    position: relative;
    width: 50%;
}





.border-1 {
    border: 1px solid black;
    margin-top: 100px;
    margin-left: -100px;
    margin-right: 200px;
    position: relative;
    width: 100%;
}

.home {
    color: white;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    border: 2px solid black;
    margin: 20px 0 20px 200px;
}

.home-1 {
    border-radius: 10px;
    background-color: #264653;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.chill {
    opacity: 1;
    display: block;
    width: 700px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.home-text {
    background-color: #264653;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-text > p {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    margin: 20px;
}

.border-1:hover .chill{
    opacity: 0.8;
    border-color: #264653;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    cursor: pointer;
}

.home:hover .middle-1 {
    opacity: 1;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    translate: 40px;
    cursor: pointer;
}





.border-2 {
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 80px;
    position: relative;
    width: 100%;
}

.rooms {
    color: white;
    position: relative;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    border: 2px solid black;
    margin: 20px 0 20px 200px;
}

.room-bed {
    border-radius: 10px;
    background-color: #264653;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.bed {
    opacity: 1;
    display: block;
    width: 700px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.room-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #264653;
    width: 700px;
}

.room-text > p {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    margin: 20px;
}

.rooms:hover .bed {
    opacity: 0.8;
    border-color: #264653;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    cursor: pointer;
}

.rooms:hover .middle-2 {
    opacity: 1;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    translate: -120px;
    cursor: pointer;
}




.border-3 {
    border: 1px solid black;
    margin-top: 100px;
    margin-left: -100px;
    margin-right: 200px;
    position: relative;
    width: 100%;
}

.food {
    color: white;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    border: 2px solid black;
    margin: 20px 0 20px 200px;
}

.food-bbq {
    border-radius: 10px;
    background-color: #264653;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.bbq {
    opacity: 1;
    display: block;
    width: 700px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.food-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #264653;
    width: 700px;
}

.food-text > p {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    margin: 20px;
}

.food:hover .bbq {
    opacity: 0.8;
    border-color: #264653;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    cursor: pointer;
}

.food:hover .middle-3 {
    opacity: 1;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    cursor: pointer;
    translate: 40px;
}



.border-4 {
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 80px;
    position: relative;
    width: 100%;
}

.gallery {
    color: white;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    border: 2px solid black;
    margin: 20px 0 20px 200px;
}

.gallery-pics {
    border-radius: 10px;
    background-color: #264653;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.pics {
    opacity: 1;
    display: block;
    width: 700px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.gallery-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #264653;
    width: 700px;
}

.gallery-text > p {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    margin: 20px;
}

.galler:hover .pics {
    opacity: 0.8;
    border-color: #264653;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    cursor: pointer;
}

.gallery:hover .middle-4 {
    opacity: 1;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(105, 105, 185, 0.2);
    cursor: pointer;
    translate: -30px;
}




.booking-form {
    margin-top: 150px;
    margin-left: 100px;
    padding: 50px 20px;
    width: 800px;
    background: linear-gradient(to right, #264653, #2a9d8f);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-rooms {
    font-size: 30px;
    font-weight: 900;
    color: white;
    padding: 16px 16px;
    border: 1px solid #264653;
    margin-bottom: 30px;
    border-radius: 40px;
}

ol {
    gap: 16px;
    color: white;
    display: flex;
    flex: auto;
}

input[type=submit] {
    border: 1px solid #48aaff;
    border-radius: 10px;
    background-color: #48aaff;
    color: white;
    font-size: large;
    font-weight: 900;
    display: inline-block;
    padding: 4px 8px;
    margin: 10px 0;
    transition: all 0.25s;
}



.footer {
    background-color: #264653;
    font-family: fantasy;
    font-size: x-large;
    font-weight: 900;
    margin-top: 16px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}